.Manage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginArea {
    flex: 0;
}

.loginBtn {
    padding: 10px;
}

.formArea {
    flex: 1;
    display: grid;
    grid-template-areas: 
    "upload search"
    "update search"
    "delete search";
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-columns: 3fr 2fr;
    width: 70%;
    gap: 10px;
    margin: 10px;
}

.SubmitForm {
    grid-area: upload;
}

.SubmitForm form, .UpdateForm form, .DeleteForm form, .SearchForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(169, 169, 169, 0.479);
}

.SearchForm form {
    justify-content: flex-start;
}

.SubmitForm p, .UpdateForm p, .DeleteForm p, .SearchForm p {
    margin: 20px;
    font-size: 1.3rem;
}

.SubmitForm input, .UpdateForm input, .DeleteForm input, .SearchForm input {
    width: 300px;
    padding: 5px;
}

.SubmitForm button, .UpdateForm button, .SearchForm button {
    padding: 10px;
    width: 100px;
}

.SearchForm {
    grid-area: search;
}

.UpdateForm {
    grid-area: update;
}

.DeleteForm {
    grid-area: delete;

}

.DeleteForm button {
    padding: 10px;
    width: 110px;
}

.SubmitForm form {
    justify-content: flex-start;
}

@media screen and (max-width: 845px) {
    .formArea {
        display: flex;
        flex-direction: column;
    }
  }