.modalBackground {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 10;
    background-color: rgb(214, 228, 229);
    min-height: 500px;
    padding: 20px;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.445);
    z-index: 10;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.4rem;
    text-align: center;
}

.modalContainer label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.submitBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.modalContainer input {
    padding: 10px;
}

.submitBtns button {
    padding: 10px;
}

@media screen and (max-width: 845px) {
    .modalBackground {
        width: 400px;
    }
  }