nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 10px;
    background-color: rgba(169, 169, 169, 0.678);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobileNav {
    display: none;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 845px) {

    nav {
        justify-content: space-between;
        padding: 0;
    }

    nav div {
        min-width: 100px;
    }

    .hamburger {
        display: block;
        z-index: 3;
    }

    .menu-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Creates an overlay effect */
        display: none;
        z-index: 2;
        padding: 0;
      }

      .menu-list.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 1.4rem;
        padding: 0;
      }

      .link {
        color: white;
      }
  }

  @media screen and (min-width: 846px) {
    .menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-position: inside;
        padding: 0;
        gap: 20px;
        flex: 0;
        min-width: 200px;
    }

    nav div {
        flex: 0;
        min-width: 200px;
        text-align: center;
    }
    
    nav h1 {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .link {
        color: black;
    }

  }